.navbar {
    overflow: hidden;
    background-color: #aecdce;
    
  }
#abc{
    overflow: hidden;
    background-color: #617777;
    
  }
  #aa
  {
      margin-top: -10px;
      margin-left: 1150px;
  
  }
  #aab
  {
      
    margin-top: -40px;
    margin-left: 1010px;

  }
  #aabc
  {
      
    margin-top: 0px;
    margin-left: 800px;

  }